body {
  font-family: Arial;
  margin: 0;
  background: #e3f2fd;
  transition: 0.3s;
}

.app {
  max-width: 550px;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

input, select {
  padding: 8px;
  flex: 1;
}

button {
  padding: 8px;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #f5f5f5;
}

.high { border-left: 6px solid red; }
.medium { border-left: 6px solid orange; }
.low { border-left: 6px solid green; }

.dark {
  background: #121212;
  color: white;
}

.dark .app {
  background: #1e1e1e;
}
